*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 0.3rem solid black;
    display: flex;
    height: 50vh;
    align-items: stretch;
    justify-content: center;
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1{
    background-color: blue;
    flex-grow: 1;
}
.box2{
    background-color: red;
}
.box3{
    background-color: yellow;
    flex-grow: 3;
}
.box4{
    background-color: lime;
    order: 2;
}
.box5{
    background-color: magenta;
}
.box6{
    background-color: cyan;
    order: 3;
}